.container {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;

}

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 57%, rgba(255, 0, 0, 0.969625350140056) 99%);
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-shadow: 0px 1px 5px 0px rgba(255, 0, 0, 0.2);
}

.logo {
    position: relative;
    top: 50%;
}

.containerAbout {
    display: flex;
    position: relative;
    top: 90px;
    width: 100%;
    padding-inline: 50px;
    justify-content: space-between;
    color: #fff;
}

.containerAbout div {
    display: flex;
    gap: 30px;
    align-items: center;
}

.containerAbout span h1 {
    font-size: 50px;

}

.containerAbout div p {
    font-size: 20px;
    cursor: pointer;
}

.containerAbout div:hover> :not(:hover) {
    opacity: 0.8;
    transform: scale(0.8);
}

.containerInit {
    margin-top: 15rem;
    width: 100%;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
}

.containerInit div {
    width: 60%;
    text-align: center;
}

.containerInit div h2 {
    font-size: 30px;
    font-weight: 700;
}

.containerInit div h3 {
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media(max-width:767px) {
    .header {
        height: 100vw;
    }

    .containerAbout {
        flex-direction: column;
        margin-top: 50px;
    }

    .containerAbout div:first-child {
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100vw;
    }

    .containerAbout div:last-child {
        margin: 0;
        align-items: center;
        flex-direction: column;
    }

    .logo {
        top: 30%;
    }

    .containerInit {
        margin-top: 16rem;

    }
    .containerInit div {
        width: 80%;
        text-align: center;
    }
}